#heading{
   text-align: center;
   margin-top: 100px;
}

#subHeading{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
label{
    font-weight: bold;
}
#weight{
    margin-bottom: 20px;
    margin-top: 5px;
    width: 450px;
    height: 20px;
}

#height{
    margin-bottom: 20px;
    margin-top: 5px;
    width: 450px;
    height: 20px;
}

#submit{
    width: 100px;
    height: 25px;
    color: aliceblue;
    background-color:rgb(124, 161, 248);
    border-radius: 3px;
    border: none;
}
#layout{
    align-content: center;
    margin-left: 31%;
    
}

